html,
body {
  background: transparent;
  margin: 0;
}

body {
  padding: 5px;
}

body {
  font-family: "Outfit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: transparent;
}

.App {
  border-radius: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-weight: normal;
  box-sizing: border-box;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
}

.top {
  padding: 20px 0 0 0;
}

.bottom {
  background: #ebebeb;
  border-top: 1px solid black;
  margin-top: 10px;
  padding: 12px 20px 18px 20px;
}

.fishRow {
  padding: 3px 20px;
  display: flex;
  font-size: 18px;
  transition: background 70ms linear;
}

.fishRow.isSelected {
  background: #cbefce;
}

.fishName {
  width: 160px;
}

.fishTug {
  font-weight: 700;
  width: 24px;
}

.fishTime {
  width: 50px;
}

.fishPoints {
  width: 50px;
}

.routeName {
  font-size: 20px;
  margin-bottom: 1px;
}

.castTime {
  font-size: 32px;
  font-weight: 700;
  padding-left: 20px;
  padding-bottom: 2px;
}
